@media(min-width: 535px) {
    .MediaModal{
        width: 90%;
        height: 70%;
        max-width: 1080px;

        border-radius: 20px;
    }

    .CloseButton_container{
        background-color: black;
    }

    .MediaModal_content_container{
        aspect-ratio: 16/9;
        max-width: 96%;
        margin: 2%;
    }
}

@media(max-width:534px) {
    .MediaModal{
        width: 100vw;
        height: 100vh;
    }

    .MediaModal_content_container{
        margin-top: 60px;
    }
    .MediaModal_content_text{
        margin: 0 10px;
    }

}

.MediaModal {
    background: #222;
    
    position: relative;

    display: flex;
    justify-content: center;
    
}

.YouTubePlayer_iframe{
    aspect-ratio: 16 / 9;
    width: 100%;
    height: 100%;
}

.MediaModal_content_text{
    color:white;
    font-size: 20px;
    font-weight: 500;
    line-height: 36px;

    padding: 10px 0;

}

.CloseButton_text{
    color:white;
}


