body{
    font-family:"Roboto", sans-serif;
    margin: 0px;
    background-color: rgb(242, 242, 242);
}

a{
    cursor: pointer;
    text-decoration: none;/*for the underline*/
}

button {
    cursor: pointer;
  
    font:inherit;
  
    border: 0;
    margin: 0;
    padding: 0;
    background-color: rgba(0, 0, 0, 0);
}

.div_as_button{
    cursor: pointer;
}

.Artist_logo{
    width: 43px;
    height: 43px;
  
    border-radius: 50%;
}
  
  
.hidden{
    display: none;
}